<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="ConStringEncrypt" value="false"/>
		<add key="ConnectionString" value="server=.;database=PIE;uid=sa;pwd=123"/>-->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>