<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="FrmPIE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--<add key="ConStringEncrypt" value="true"/>
		<add key="ConnectionString" value="E5B7FDCFFC4C2EC55639DDE7E2D975CCD1C7C7766FD1D69F69E2A3E2828479BB3C0EC1C32C08B58F0907E9FC3D6C17E9B5D33B5157009C871F4ED10BD651AE67A11D9BF7BE45670D"/>-->
    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="server=.;database=PIE;uid=sa;pwd=xielin"/>
  </appSettings>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	<applicationSettings>
		<FrmPIE.Properties.Settings>
   <setting name="FrmPIE_WebReference100_Service" serializeAs="String">
    <value>http://142.2.70.100/mfgpgm/Service.asmx</value>
   </setting>
   <setting name="_0PackingInformationEnfry_WebReference_UserLoginCheck"
    serializeAs="String">
    <value>http://142.2.70.208/WFService/External/UserLogin/UserLoginCheck.asmx</value>
   </setting>
  </FrmPIE.Properties.Settings>
	</applicationSettings>
</configuration>
