<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FrmPIE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--<add key="ConStringEncrypt" value="false"/>
		<add key="ConnectionString" value="server=.;database=PIE;uid=sa;pwd=123"/>-->
		<add key="ConStringEncrypt" value="true" />


		<!--EF test PIE 140,50000-->
		<add key="ConnectionStringPIE" value="52FBA299B2CD8B82D5E1A5BE9C84F0F76F65B54281B4579197749C622356A23144021FBC46E00F17D5507965DDBA398E2A33AF3CBD096C2FB2EE1C7258309156AD6E0BD8EAEEBE0749D499A17FF66D02A88455E2192161A1701FD8FE6328384702879C162B3DDF1A939A60192E3D9DEA7FBC14C02A12450F374DE635083A1FBC3C33273F7A151423"/>

		<!--EF test Remote 47.149 PI-->
		<add key="ConnectionStringPIRemote" value="52FBA299B2CD8B82D5E1A5BE9C84F0F7569BCFC54F22237FF50B1E20228579A8FD4BD888C1E47ED78851988B275A13AF7A504BB92C2AC955F0EAAAB5E1A5DECA3760A7828823242385F495462E7718BBA99D78055E88C0EAC8D99659533D3C9B7DC708D7842BC608B7A8BD708664F36C2F9F1ABB13E0ECA4"/>

		<!--2.0 test PIE 140,50000-->
		<add key="ConnectionString" value="E5B7FDCFFC4C2EC55639DDE7E2D975CCD1C7C7766FD1D69F69E2A3E2828479BB3C0EC1C32C08B58FEC4CD0EDCCD63CADD5262E31F574521BDC4C6F7931EC4CB1" />

		<!--2.0 test Remote 53 PI-->
		<add key="ConnectionStringRemote" value="E5B7FDCFFC4C2EC55639DDE7E2D975CCCA77E67C7278740F41EDFCACB4B9C3D8C6E9366B763DD8E48FAE7A5976379F3A14DB6F2F4F257729" />


		<!--**********************************************************************-->
		<!--PIE 209-->
		<add key="ConnectionString" value="" />

		<!--Remote 3.4.7 PI-->

		<add key="ConnectionStringRemote" value="" />

	</appSettings>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<!--add web server <webServices>
		<protocols>
			<add name="HttpSoap"/>
			<add name="HttpPost"/>
			<add name="HttpGet"/>
			<add name="Documentation"/>
		</protocols>
	</webServices>-->
	<applicationSettings>
		<FrmPIE.Properties.Settings>
			<setting name="IDR_System_WebReferenceRTM99_Service" serializeAs="String">
				<!--test-->
				<!--<value>http://142.2.70.100/mfgpgm/Service.asmx</value>-->

				<!--official-->
				<value>http://142.2.70.99/mfgpgm/Service.asmx</value>

			</setting>
			<setting name="IDR_System_WebReference208_UserLoginCheck" serializeAs="String">
				<value>http://142.2.70.208/WFService/External/UserLogin/UserLoginCheck.asmx</value>
			</setting>
		</FrmPIE.Properties.Settings>
	</applicationSettings>
</configuration>
