<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="FrmPIE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="server=.;database=PIE;uid=sa;pwd=xielin"/>
  </appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<applicationSettings>
		<FrmPIE.Properties.Settings>
   <setting name="FrmPIE_WebReference100_Service" serializeAs="String">
    <value>http://142.2.70.100/mfgpgm/Service.asmx</value>
   </setting>
   <setting name="_0PackingInformationEnfry_WebReference_UserLoginCheck"
    serializeAs="String">
    <value>http://142.2.70.208/WFService/External/UserLogin/UserLoginCheck.asmx</value>
   </setting>
  </FrmPIE.Properties.Settings>
	</applicationSettings>
</configuration>
