<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FrmPIE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<appSettings>
		<!--<add key="ConStringEncrypt" value="false"/>
		<add key="ConnectionString" value="server=.;database=PIE;uid=sa;pwd=123"/>-->
		<add key="ConStringEncrypt" value="true" />
		<!--PIE 140,50000-->
		<add key="ConnectionString" value="E5B7FDCFFC4C2EC55639DDE7E2D975CCD1C7C7766FD1D69F69E2A3E2828479BB3C0EC1C32C08B58FEC4CD0EDCCD63CADD5262E31F574521BDC4C6F7931EC4CB1" />
		<!--Remote 53 PI-->
		<add key="ConnectionStringRemote" value="E5B7FDCFFC4C2EC55639DDE7E2D975CCCA77E67C7278740F41EDFCACB4B9C3D8C6E9366B763DD8E48FAE7A5976379F3A9464ADDA5FA1CE83" />

	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<applicationSettings>
		<FrmPIE.Properties.Settings>
			<setting name="IDR_System_WebReference100_Service" serializeAs="String">
				<value>http://142.2.70.100/mfgpgm/Service.asmx</value>
			</setting>
			<setting name="IDR_System_WebReference208_UserLoginCheck" serializeAs="String">
				<value>http://142.2.70.208/WFService/External/UserLogin/UserLoginCheck.asmx</value>
			</setting>
		</FrmPIE.Properties.Settings>
	</applicationSettings>
	<!--add web server <webServices>
<protocols>
<add name="HttpSoap"/>
<add name="HttpPost"/>
<add name="HttpGet"/>
<add name="Documentation"/>
</protocols>
</webServices>-->
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>
